
article {
  border-bottom:1px solid var(--border-main);
  border-top:1px solid var(--border-light);
  position:relative;
  padding:30px 0;
  word-wrap: break-word;
}


article .meta {
  position:relative;
  float:right;
  color:var(--text-meta);
  font-size: .9em;
  line-height: 2;
  width:auto;
  text-align:right;
}

article .meta a {
  color:var(--text-secondary);
}

article .meta .date,
article .meta .comment,
article .meta .tags {
  position:relative;
}

article h1.title {
  color:var(--text-heading);
  font-size:2em;
  font-weight:300;
  line-height:35px;
  margin-bottom:25px;
}

article h1.title a {
  color:var(--text-heading);
}

article h1.title a:hover {
  color:var(--color-link);
  transition:color .3s;
}

article strong {
  font-weight:700;
}

article em {
  font-style:italic;
}

article blockquote {
  margin:10px 0 0 0;
  padding:15px 20px;
  border-left:5px solid var(--color-link);
  background-color: var(--bg-blockquote);
}

article blockquote p{
  margin-bottom: 0;
}

article blockquote a{
  word-break: break-all;
  word-wrap: break-word;
}

article code {
  font-family: "Consolas","Courier New",Courier,mono,serif;
  font-size: 80%;
  margin: 0 2px;
  padding: 4px 5px;
  background-color: var(--bg-code-inline);
  vertical-align: middle;
  border-radius: 5px;
}

article pre {
  font-family: "Consolas","Liberation Mono",Courier,monospace;
    font-size: 14px;
    line-height: 1.6;
  color: var(--text-code);
  padding: 0.6em;
  border-left:5px solid var(--border-code);
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  position: relative;
  overflow: hidden;
}

article pre code{
  border-radius: 0 0 0 0 ;
  background-color: transparent ;
  border: 0 ;
  padding: 0;
  margin: 0;
  font-size: 100%;
  display: block;
  position: relative;
}

article pre b.name {
  position: absolute;
  line-height: 1;
  top: 10px;
  right: 10px;
  font-size: 60px;
  color: var(--text-code-name);
  pointer-events: none;
}
@media screen and (max-width:768px) {
  article pre b.name {
    font-size: 30px;
  }
}

article img {
  padding: 0;
  display:block;
  border:1px solid var(--border-img);
  margin:10px 0 5px 0;
  max-width: 100%;
}

article table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

article table th,
article table td {
  border: 0;
}

article table th {
  border-bottom: 2px solid var(--border-table-head);
  text-align: left;
  padding: 6px 20px;
}

article table td {
  border-bottom: 1px solid var(--border-table-cell);
  padding: 6px 20px;
}

article .expire-tips {
  padding: 5px 10px;
  font-size: 15px;
  border: 1px solid var(--border-tips-expire);
  background-color: var(--bg-tips-expire);
  border-left: 5px solid var(--border-tips-expire-left);
  color: var(--text-heading);
}

article .aliyun-tips {
  padding: 5px 10px;
  font-size: 15px;
  border: 1px solid var(--border-tips-aliyun);
  background-color:var(--bg-tips-aliyun);
    border-left: 5px solid var(--border-tips-aliyun-left);
}

article .post-info {
  font-size:14px;
}

article .entry-content {
  font-size: 16px;
  line-height:1.8;
  word-wrap:break-word;
}

article .entry-content .date {
  color:var(--text-secondary);
  font-size:14px;
  font-style:italic;
}

/*article .entry-content a:hover {
  text-decoration:underline;
}*/

article .entry-content p,
article .entry-content blockquote,
article .entry-content ul,
article .entry-content ol,
article .entry-content dl,
article .entry-content table,
article .entry-content iframe,
article .entry-content h1,
article .entry-content h2,
article .entry-content h3,
article .entry-content h4,
article .entry-content h5,
article .entry-content h6,
article .entry-content p,
article .entry-content pre {
  margin-top:15px;
}

article .entry-content ul ul,
article .entry-content ul ol,
article .entry-content ul dl,
article .entry-content ol ul,
article .entry-content ol ol,
article .entry-content ol dl,
article .entry-content dl ul,
article .entry-content dl ol,
article .entry-content dl dl,
article .entry-content blockquote > p:first-of-type {
  margin-top:0;
}

article .entry-content ul,
article .entry-content ol,
article .entry-content dl {
  margin-left:25px;
}



/*** page-tag ***/


article.tags section a {
  display: inline-block;
  font-size: 14px;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  color: var(--color-link-tag-border);
  border: 1px solid var(--color-link-tag-border);
  border-radius: 4px;
  margin: 0 15px 10px 0;
  text-decoration: none;
  -webkit-transition: color .2s cubic-bezier(.4,.01,.165,.99),border .2s cubic-bezier(.4,.01,.165,.99);
  transition: color .2s cubic-bezier(.4,.01,.165,.99),border .2s cubic-bezier(.4,.01,.165,.99);
}
article.tags section a:hover {
  color: var(--color-link);
  border-color: var(--color-link);
}
a.anchor {
  display: block;
  position: relative;
  visibility: hidden;
}

/* 文章内代码行号高亮 */
article .firekylin-code > ul {
  list-style: decimal;
  background-color: var(--bg-firekylin-code);
  margin: 0;
  margin-left: 40px;
  padding: 0;
}
article .firekylin-code li {
  list-style: decimal-leading-zero;
  border-left: 1px solid var(--border-firekylin-code);
  padding-left: 2px;
  position: relative;
}
article .firekylin-code li.mark {
  background-color: var(--bg-firekylin-code-mark) !important;
}
article .firekylin-code li:hover {
  background-color: var(--bg-firekylin-code-hover) !important;
}
article .firekylin-code .line-num {
  width: 40px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  left: -40px;
  cursor: pointer;
}
article .firekylin-code li:nth-of-type(even) {
  background-color: var(--bg-firekylin-code-even);
  color: inherit;
}
article .entry-content pre .firekylin-code {
  background-color: var(--bg-firekylin-code-wrap);
}
