#comments {
  border-top: 1px solid var(--border-light);
  padding: 32px 0;
  min-height: 350px;
}

#comments h1.title {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 20px;
}
