#comments {
  border-top:1px solid var(--border-light);
  border-bottom:1px solid var(--border-main);
  padding:30px 0;
  min-height:350px;
}

#comments h1.title {
  font-size:25px;
  font-weight:300;
  line-height:35px;
  margin-bottom:20px;
}
