.pagination {
  width:100%;
  line-height:20px;
  position:relative;
  border-top:1px solid var(--border-light);
  border-bottom:1px solid var(--border-main);
  padding:20px 0;
  overflow:hidden;
}

.pagination .prev,
.pagination .next {
  max-width: 45%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pagination .prev {
  float:left;
}

.pagination .next {
  float:right;
}
.pagination .center {
  text-align:center;
  width:80px;
  margin:auto;
}
